<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Table_Tennis_Ratings_Server</servlet-name>
		<servlet-class>wei.mark.tabletennisratingsserver.Table_Tennis_Ratings_ServerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatusCheck_Server</servlet-name>
		<servlet-class>wei.mark.tabletennisratingsserver.StatusCheck_ServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Table_Tennis_Ratings_Server</servlet-name>
		<url-pattern>/table_tennis_ratings_server</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatusCheck_Server</servlet-name>
		<url-pattern>/statuscheck_server</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
